@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html {
  font-size: 62.5%;
}
.red{
  color: rgb(219, 0, 0);
  line-height: 1rem;
}
h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}
h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: #222;
}
h4 {
  font-size: 2rem;
  color: #222;
}
h6 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
}
p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}
.section-p1 {
  padding: 4rem 8rem;
}
.section-m1 {
  margin: 4rem 0;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^="col-"] {
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
}
/*<1200 >Bigger screen*/
.row .col-1of3 {
  width: calc((100% - 3 * 6rem) / 4); /* Adjusted for 4 products in one row */
  margin: 0 1.5rem; /* Adjust horizontal margin */
}

/*less>600 <1200*/

.row .col-1of2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1of2 {
  width: calc((100% - 6rem) / 2);
}

.Box-col-1of3 {
  width: calc((100% - 2 * 6rem) / 3);
  margin-right: 0.5rem;
}

button.normal {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem 2.3rem;
  color: black;
  background-color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1.1rem 1.8rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid white;
  outline: none;
  transition: 0.2s;
}

#header a img {
  height: 5.4rem;
  color: #f814bc;
}
#navbar #close-cart img{
  height: 2rem;
  width: 2rem;
  display: none;
}
#navbar a img {
  height: 2rem;
  color: #f814bc;
 
}
#navbar{
  display: flex;
}

#bar{
  display: none;
}
/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar li {
  list-style: none;
  padding: 0 2rem;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #f012be;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 0.2rem;
  background-color: #f012be;
  position: absolute;
  bottom: -0.4rem;
  left: 2rem;
}
#shopping-bag img {
  height: 2rem;
}
#close-cart img,
#close img {
  width: 4rem;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 700;
}
.cart-quantity {
  border: 1px solid #a59f9f;
  outline-color: #f012be;
  width: 3.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 2.4rem;
  color: #1a1a1a;
  cursor: pointer !important;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #3c3c3c;
}
.total-title {
  font-size: 1rem;
  font-weight: 700;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 1.2px 2rem;
  border: none;
  background-color: #f012be;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.btn-buy:hover {
  background-color: #dc0dac;
}
#close-cart {
  position: absolute;
  top: 5rem;
right: 5.8rem;
  font-size: 2rem;
  color: #1a1a1a;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
 
}
.Cartt {
  position: fixed;
  top: 0;
  right: -100%;
  width: 36rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: #e1e1e1;
  box-shadow: -2px 0 4px hsl(0, 15%/10%);
  transition: 0.3s;
}
.Cartt.active {
  right: 0;
}

.Cartt img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  padding: 1rem;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#cart-quantity {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  background-color: #ffdefa;
  color: #f012be;
  font-size: 1.2rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* Home page */
.container {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

#hero {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.left {
  /* background-color: #dc0dac; */
  align-self: center;
  justify-self: center;
  padding: 12rem;
  margin-left: 3rem;
}

.left h1 {
  width: 100%;
}

.right {
  background-color: #fff;
  justify-self: center;
  align-self: center;
}
.left button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #f012be;
  color: #fff;
  border-radius: 1.2rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

#hero button:hover {
  background-color: #fff;
  border: 0.2rem solid #f012be;
  border-color: #f012be;
  color: #f012be;
  border-radius: 1.2rem;
}
#feature {
  margin-top: -3.5rem;
  display: flex;
  justify-content: space-around;
}
#feature .fe-box1 img {
  width: 23.4rem;
}
#feature h4 {
  margin-left: 6.5rem;
}
#feature .fe-box2 img {
  width: 23.4rem;
}
#feature .fe-box3 img {
  width: 23.4rem;
}
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
}

#product1 .pro {
  /* width: 23%;
  min-width: 25rem;
  padding: 1rem 1.2rem;
  border: 1rem solid #f7f7f7;
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);
  margin: 1.5rem 0;
  transition: 0.2s ease;
  position: relative; */
  max-width: 30rem;
  position: relative;
  margin: 1.5rem 0;
  cursor: pointer;
  border-radius: 2.5rem;
  padding: 1rem 1.2rem;
  border: 1rem solid #f7f7f7;
  border-radius: 2.5rem;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);
}
#product1 .pro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 2rem;
}

#product1 .pro .des {
  text-align: start;
  padding: 1rem 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 1.2rem;
}
#product1 .pro .des h5 {
  padding-top: 0.7rem;
  color: #1a1a1a;
  font-size: 1.4rem;
}
#product1 .des .star img {
  display: inline;
  width: 1.5rem;
  color: rgb(243, 181, 25);
  margin-top: 0.1rem;
}
#product1 .pro .des h4 {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f012be;
}
#product1 .pro .cart {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 5rem;
  background-color: #ffdefa;
  font-weight: 500;
  color: #f012be;
  border: 1rem solid #ffdefa;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
#product1 .pro .cart img {
  width: 2.4rem;
  margin-top: -0.4rem;
}

#Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("All\ images/background\ img.jpeg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#Banner h4 {
  font-size: 1.6rem;
}

#Banner h2 {
  font-size: 3rem;
  padding: 1rem 0;
}

#Banner h2 span {
  color: #ef3636;
}
#Banner button:hover {
  background-color: #f012be;
  color: white;
}

#sm-Banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("All\ images/banner1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 9rem;
}

#sm-Banner .banner-box2 {
  background-image: url("All\ images/banner2.jpg");
}
#sm-Banner h4 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
#sm-Banner h2 {
  color: white;
  font-size: 2.8rem;
  font-weight: 800;
  font: bolder;
}
#sm-Banner span {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
#sm-Banner .banner-box:hover button {
  background-color: #f012be;
  border: 0.1rem solid #f012be;
  color: white;
}
.Box-col-1of3 .banner-box {
  padding: 2rem;
}
.Box-col-1of3 {
  width: 30%;
  display: grid;
  margin: 1rem 1rem;
}
.banner-box {
  align-self: center;
  justify-self: center;
}
.banner-box h1 {
  font-size: 3.5rem;
  line-height: 4.4rem;
  text-transform: uppercase;
}
.Box-col-1of3 .banner-box h2 {
  font-size: 2.5rem;
  color: red;
  line-height: 2rem;
}
.B1 {
  background-color: #d2c2cf;
}
.B2 {
  background-color: #d2c2cf;
}
.B3 {
  background-color: #d2c2cf;
  text-align: left;
}
.shopButton{
 
  font-size: 1.2rem;
  border: none;
  cursor: pointer;

  background-color: #f012be;
  color: #fff;
  border-radius: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;

  padding: 0.7rem 0.7rem;

}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("All\ images/Newletter\ bg.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
}
#newsletter h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
}
#newsletter p {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(223, 221, 221);
}
#newsletter p span {
  color: yellow;
}
#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 1.4rem;
  width: 100%;
  border: 1rem solid transparent;
  border-radius: 0.4rem;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #f012be;
  color: #fff;
  white-space: nowrap;
}
.col .icon img {
  width: 2rem;
  margin: 1.2rem;
}
.col img {
  width: 15.5rem;
  margin-bottom: 2rem;
  position: relative;
  top: 1%;
  left: 3%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-right: 16.7rem;
}
footer .col-install p img {
  width: 16.5rem;
}
footer h4 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
footer p {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}
footer a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222;
  margin-bottom: 1rem;
}
footer .follow {
  margin-top: 2rem;
}
footer .follow i {
  color: #465b52;
  padding-right: 0.4rem;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #f012be;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/* //media query */
/*
@media (width<=600px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  /* #hero{
  width: 70vh;
  padding-right: 20px;
  padding-top: 10px;
} */
/*
  .Model img {
    width: 63rem;
    margin-top: 23px;
    margin-left: -11rem;
  }

  .Info h2 {
    font-size: 2.6rem;
    line-height: 5.4rem;
    margin-top: -1rem;
    margin-left: -2rem;
  }

  #feature {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #feature .fe-box1 img {
    position: absolute;
    top: 73%;
    width: 19rem;
    padding: 0 3rem;
    left: 3%;
  }
  #feature .fe-box2 img {
    position: absolute;
    top: 73%;
    width: 19rem;
    padding: 0 3rem;
    left: 34%;
  }
  #feature .fe-box3 img {
    position: absolute;
    top: 73%;
    width: 19rem;
    padding: 0 3rem;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 1.5rem;
  }
  #Banner {
    height: 20vh;
  }
  #sm-Banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner-3 {
    padding: 0 4rem;
  }
  #banner-3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
  */
/* button.normal{
  /* padding: 0.5rem 2.3rem; */

/* .Model button {
  position: absolute;
  top: 60%;
  left:-3%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
} */
*/ footer .col {
  margin-right: 2.7rem;
}
/* } */

/* @media (width<=600px) {
  #header {
    padding: 1rem 3rem;
  }
  #hero {
    padding:0 2rem;
    background-position: 55%;
  }
  h2{
    font-size: 1.6rem;
  }
  h1{
    font-size: 3.8px;
  }
.Model img{
width: 106rem;
  }
} */

/* Shop page */
#page-header {
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.ShopBanner img {
  width: 100%;
}
#Shopproduct1 {
  text-align: center;
}
#Shopproduct1 .ShopPro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
}

#Shopproduct1 .ShopPro {
  width: 23%;
  min-width: 25rem;
  padding: 1rem 1.2rem;
  border: 1rem solid #f7f7f7;
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);
  margin: 1.5rem 0;
  transition: 0.2s ease;
  position: relative;
}
#Shopproduct1 .ShopPro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.06);
}

#Shopproduct1 .ShopPro img {
  width: 100%;
  border-radius: 2rem;
}

#Shopproduct1 .ShopPro .Shopdes {
  text-align: start;
  padding: 1rem 0;
}

#Shopproduct1 .ShopPro .Shopdes span {
  color: #606063;
  font-size: 1.2rem;
}
#Shopproduct1 .ShopPro .Shopdes h5 {
  padding-top: 0.7rem;
  color: #1a1a1a;
  font-size: 1.4rem;
}
#Shopproduct1 .Shopdes .Shopstar img {
  display: inline;
  width: 1.5rem;
  color: rgb(243, 181, 25);
  margin-top: 0.1rem;
}
#Shopproduct1 .ShopPro .Shopdes h4 {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f012be;
}
#Shopproduct1 .ShopPro .Shopcart {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 5rem;
  background-color: #ffdefa;
  font-weight: 500;
  color: #f012be;
  border: 1rem solid #ffdefa;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
#Shopproduct1 .ShopPro .Shopcart img {
  width: 2.4rem;
  margin-top: -0.4rem;
}
.Shopcontainer {
  background-color: white;
  height: 55vh;
  width: 80vw;
  margin: 1rem auto;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #f012be;
  padding: 1.4rem 2rem;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin: auti 1.2rem;
  margin: 0 0.3rem;
}

#pagination a img {
  background-color: #f012be;
  width: 2rem;
  margin: 0.2rem 0;
}
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Single product */

#prodetails {
  display: flex;
  margin-top: 20ox;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 5rem;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-pro-details p {
  background-color: rgb(243, 242, 242);
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: black;
  border: 1px solid rgb(186, 182, 182);
  display: block;
}
.single-pro-details span {
  font-size: 2.1rem;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 3rem;
}
#prodetails .single-pro-details h4 {
  padding: 2rem 0 0.5rem 0;
}
#prodetails .single-pro-details h2 {
  font-size: 1.6rem;
}
#prodetails .single-pro-details input {
  width: 5rem;
  height: 4.7rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}
#prodetails .single-pro-details button {
  background-color: #f012be;
  color: white;
  padding: 1.5rem 2.3rem;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}

/* BlogPage */
#Blog {
  padding: 8rem 15rem 0 15rem;
}
#Blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 9rem;
}
#Blog .blog-img {
  width: 50%;
  margin-right: 4rem;
}
#Blog .blog-img img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
#Blog .Blog-details {
  width: 50%;
}
#Blog .Blog-details a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: 800;
  position: relative;
  transition: 0.3s;
}

#Blog .Blog-details a::after {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0.4rem;
  right: -6rem;
}
#Blog .Blog-details a:hover {
  color: #f012be;
}
#Blog .Blog-details a:hover::after {
  background-color: #f012be;
}

#Blog .blog-box h1 {
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 7rem;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/* About Page */
#About-head img {
  width: 50%;
  height: auto;
}
#About-head {
  display: flex;
  align-items: center;
}
#About-head div {
  padding-left: 4rem;
}
#About-App {
  text-align: center;
}
#About-App .video {
  width: 70%;
  height: 100%;
  margin: 3rem auto 0px auto;
}
#About-App .video video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* Contact page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#Form-details form span {
  font-size: 1.2rem;
}
#contact-details .details h2,
#Form-details form h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  padding: 2rem 0;
}
#contact-details .details h3 {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}
#contact-details .details li {
  list-style: none;
}
#contact-details .details li img {
  width: 1.2rem;
}
#contact-details .Map {
  width: 55%;
  height: 40rem;
}
#contact-details .Map iframe {
  width: 100%;
  height: 100%;
}
#Form-details {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 8rem;
  border: 1px solid #e1e1e1;
}
#Form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#Form-details form input,
#Form-details form textarea {
  width: 100%;
  padding: 1.2rem 1.5rem;
  outline: none;
  margin-bottom: 2rem;
  border: 1px solid #e1e1e1;
}
#Form-details form button {
  background-color: #f012be;
  color: white;
}
#Form-details .people img {
  width: 12rem;
}

#Form-details .people div {
  padding-bottom: 2.5rem;
  padding-right: 8rem;
}
#Form-details .people img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  margin-right: 1.5rem;
}
#Form-details .people img p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
#Form-details .people p span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}

/* Cart page */
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table td a img {
  width: 2rem;
}
#cart table td img {
  width: 7rem;
}
#cart table td:nth-child(1) {
  width: 10rem;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 15rem;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 25rem;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 15rem;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 7rem;
  padding: 1rem 0.5rem 1rem 1.5rem;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table tbody tr td {
  padding-top: 1.5rem;
  font-size: 1.3rem;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.8rem 0;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 3rem;
}
#coupon h3,
#Subtotal h3 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}
#coupon input {
  padding: 1rem 2rem;
  outline: none;
  width: 60%;
  margin-right: 1rem;
  border: 1px solid #e2e9e1;
}
#coupon button,
#Subtotal button {
  background-color: #f012be;
  color: white;
  padding: 1.2rem 2rem;
}
#Subtotal {
  width: 50%;
  margin-bottom: 3rem;
  border: 1px solid #e2e9e1;
  padding: 3rem;
}
#Subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
#Subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* Media query for phones */
@media (max-width: 37.5em) {
  html {
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }
  .row {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .row .col-1of3 {
    flex-basis: calc(43% - 2rem); /* Two columns, each with 50% basis */
    margin: 2rem; /* Adjust margin as needed */
  }
  #header a img {
    height: 4.4rem;
    color: #f814bc;
    margin-left: -4rem;
  }
#navbar{
  display: none;
}
#navbar #close-cart img{
 
  display: block;
}
#bar img{
  margin-left: 8rem;
}
#navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
  padding: 80px 0 0 10px;
  transition: 0.3s;
}

#navbar.navActive{
  right: 0;
}
  #navbar li {
    margin-bottom: 25px;
  }
  #bar{
    display: block;
  }
  #navbar a img{
    display: block;
  }
  
  #header .logo {
    width: 2.5rem;
  }
  .left {
    /* background-color: #dc0dac; */

    padding: 1rem;
    margin-left: 3rem;
  }
  .left button {
    padding: 0.8rem 0.8rem;
    font-size: 1.4rem;
  }
  #feature {
    margin-top: 1.5rem;
  }
  #feature .fe-box1 img {
    width: 12.4rem;
  }
  #feature .fe-box2 img {
    width: 12.4rem;
  }
  #feature .fe-box3 img {
    width: 12.4rem;
  }
  #feature h4 {
    margin-left: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  #product1 {
    text-align: center;
    margin-top: 2rem;
  }
  #product1 .pro .cart {
    border-radius: 3rem;
bottom: 0.1rem;
  }
  .row .col-1of2 {
    width: calc((100% - 6rem) / 1);
  }
  #sm-Banner .banner-box {
    background-position: right;
    padding: 4rem;
  }

  #banner-3 {
    padding: 0;
  }

  .Box-col-1of3 .banner-box {
    padding: 1.5rem;
    width: 100%;
  }
  .banner-box h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .Box-col-1of3 .banner-box h2 {
    font-size: 1.5rem;
    color: red;
    line-height: 1.5rem;
  }
  .Box-col-1of3 {
    margin: 0.5rem 0.2rem;
  }
  .B1 {
    background-color: #d2c2cf;
  }
  .B2 {
    background-color: #d2c2cf;
  }
  .B3 {
    background-color: #d2c2cf;
  }
  .col img {
    width: 12.5rem;
    top: 1%;
    left: 3%;
  }

  footer .col {
    margin: 0;
    padding: 4rem;
  }
}
@media (max-width: 75em) {
  .row .col-1of3 {
    font-size: 56.25%; /* 1rem = 9px, 9/16 = 56.25% */
    width: calc((100% - 2 * 6rem) / 3);
  }
}
/* >1200-->Bigger screens*/
@media (min-width: 112.5em) {
  #header .logo {
    width: 12rem;
  }
}
